<main class="main">
  <div class="content">
    <div class="d-flex flex-column min-vh-100">
      <header class="text-center my-4">
        <h1>FastSpring Angular - WIP</h1>
        <div class="d-flex mt-2 justify-content-center">
          <a class="btn btn-dark me-2" (click)="fastspringService.resetCart()"
            >Reset cart</a
          >
          <div class="dropdown">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              id="countryDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              🇯🇵 Japan
            </button>
            <ul class="dropdown-menu" aria-labelledby="countryDropdown">
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  (click)="fastspringService.selectCountry('NL')"
                  >🇳🇱 Netherlands</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  (click)="fastspringService.selectCountry('US')"
                  >🇺🇸 USA</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  (click)="fastspringService.selectCountry('JP')"
                  >🇯🇵 Japan</a
                >
              </li>
              <!-- Add more countries as needed -->
            </ul>
          </div>
        </div>
      </header>
      <app-test-methods></app-test-methods>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
